@import "tailwindcss";

.highlight-flash {
  animation: flashBorder 1.5s ease-out;
}

@keyframes flashBorder {
  0%   { box-shadow: 0 0 0 0 rgba(59,130,246,0.9); }
  50%  { box-shadow: 0 0 12px 6px rgba(59,130,246,0.6); }
  100% { box-shadow: 0 0 0 0 rgba(59,130,246,0.0); }
}

/* Classic minimal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db; /* gray-300 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
